@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --Red-primary: hsl(14, 86%, 42%);
  --Green-primary: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}

body{
  height: 100vh;
  background-color: var(--Rose-100);
  position: relative;
  font-family: "Red Hat Text", serif;
}

.container{
  max-width: 1024px;
  width: 100%;
  margin-top: 12px;
  padding: 20px 40px;
  transition: filter 0.3s ease-in-out;
}
.blur{
  filter: blur(2px);
  pointer-events: none;
}
.container .title{
  padding: 20px;
}

.products_con{
  display: grid;
  grid-template-columns: repeat( 3,minmax(320px , 1fr));
  gap: 0px;
  /* background-color: purple; */
}

.cart_con{
  max-width: 400px;
  width: 100%;
  z-index: 1;
  padding: 25px 30px;
  position:absolute;
  background-color: white;
  top:50px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  transition: filter 0.3s ease-in-out;
}

.cart_title{
  color: var(--Red-primary);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}


.items_empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  display: flex;
}

.items_empty.noncative{
  display: none;
}



.items_empty__text{
  color: var(--Rose-500);
  margin-bottom: 12px;
}

.cart_title{
  align-self: flex-start;
}

.product{
  max-width: 320px;
  /* color:red; */
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:8px;
  /* background-color: black; */
  padding: 20px 30px;
  position: relative;
  /* box-shadow: 4px 4px 14px -12px rgba(0,0,0,0.1); */
}


.products_con img{
  width:270px;
  object-fit: cover;
  height: max-content;
  border-radius: 12px;
}

.product_desc__con{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  gap: 4px;

}

.product__title{
  color: var(--Rose-400);
  font-size: 14px;
}

.product__desc{
  color: var(--Rose-900);
  font-weight: 600;
}

.price{
  color: var(--Red-primary);
  font-weight: 600;
  font-size: 14px;
}

/* CART BTN WITH ADD TO CART */
.cart__btn_con{
  width: 150px;
  border-radius: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--Rose-900);
  font-weight: 600;
  background-color: var(--Rose-50);
  border: 1px solid var(--Rose-500);
  position: absolute;
  gap: 16px;
  bottom: 90px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.cart__btn_con:hover{
  color: var(--Red-primary);
  border: 2px solid var(--Red-primary);
}
.cart_icon{
  max-width: 25px;
  width: 100%;
}

.text_btn{
  display:block;
}
.cart__btn_con.nonactive{
  display: none;
}




/* CART QUANTITY  */
.cart_quantity{
  width: 150px;
  border-radius: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--Rose-900);
  font-weight: 600;
  background-color:var(--Red-primary);
  position: absolute;
  gap: 16px;
  bottom: 90px;
  /* right: 90px; */
  cursor: pointer;
  display: none;
}

.q_btn{
  width: 12px;
  height: 12px;
}
.dec_con , .inc_con{
  width: 15px;
  padding: 8px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  background-color: var(--Red-primary);
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.quantity{
  color: white;
}
.dec_con img , .inc_con img{
  transition: filter 0.3s ease-in-out;
}

.dec_con:hover, .inc_con:hover {
    background-color: white;
}
  
.dec_con:hover img, .inc_con:hover img {
    filter: invert(1);
}

.cart_quantity.active{
    display: flex;
}

.selected{
  border: 3px solid var(--Red-primary);
}



/* NON EMPTY CART */

.non_emptyCART{
  display: none;
}
.non_emptyCART.active{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  /* background-color: red; */
  width: 100%;
  /* gap: 4px; */
}
.cart_item__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  background-color:white;
  gap: 8px;
  margin: 12px 0px;
}

.product_item__desc_con{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_item_desc{
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.remove-con{
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--Rose-500);
  font-weight: bold;
  cursor: pointer;
  /* margin-bottom: 12px; */
}

.remove-con img{
  fill: var(--Rose-900);
}

hr{
  border-bottom: .5px solid var(--Rose-100);
  opacity: 40%;
}

.product_name{
  color: var(--Rose-900);
  font-weight: 600;
}

.quantity_cart{
  color: var(--Red-primary);
  font-weight: 600;
}

.solo_price{
  color: var(--Rose-300);
  font-weight: 300;
}

.price_per_quantity{
  color: var(--Rose-400);
  font-weight: 600;
}

.order_total_con{
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--Rose-500);
  font-weight: 500;
}

.order_total{
  font-size: 26px;
  color: var(--Rose-900);
  font-weight: 900;
}

.carbon_neutral_con{
  width: 100%;
  display: flex;
  background-color:var(--Rose-100);
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  color: var(--Rose-300);
}

.carbon_neutral_text{
  color: var(--Rose-900);
  font-weight: 500;
}

.order_btn{

  margin: 12px 0px;
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background-color: var(--Red-primary);
  color: var(--Rose-50);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
} 


/* MODAL ORDER CONFIRMED */

.order_confirmed_con{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  width: 100%;
  padding: 50px 30px;
  
  border-radius: 12px;
  box-shadow: 10px 10px 19px 6px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color:white;
  display: none;
}
.order_confirmed_con.active{
  display: block;
}

.order_confirmed_con img{
  width: 12%;
  height: min-content;
  object-fit: cover;
}
.order_confirmed_img{
  width: 100%;
  position: relative;
  /* margin-bottom: 12px; */
}
#closeMOdal{
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.order_confirmed_title p{
  font-size: 26px;
  color: var(--Rose-900);
  font-weight: 700;
  margin-bottom: 4px;
}

.order_confirmed_title span{
  font-size: 14px;
  color: var(--Rose-400);
  font-weight: 500;
  margin-bottom: 12px;
}

.cart__confirmed_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Rose-100);
  padding: 20px 25px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
}

.cart__confirmed_item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-bottom: 6px;
}

.item__content{
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 12px;

}

.order_new_con{
  align-self: center;
  width: 100%;
}

.order_new_con button{
  width: 100%;
  padding: 20px;
  text-transform: capitalize;
  border-radius: 30px;
  border: none;
  color: var(--Rose-100);
  background-color: var(--Red-primary);
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.item__content_desc{
  font-size: 14px;
}

.item__content_name{
  color: var(--Rose-900);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.q_confirm_order{
  color: var(--Red-primary);
  font-weight: 500;
  margin-right: 12px;
}
.q_price_confirm_order{
  color: var(--Rose-300);
  font-weight: 500;
}

.cart__confirmed_price{
  color: var(--Rose-900);
  font-weight: 500;
  font-size: 14px;
}


.total_confirmed_price{
  margin-top: 16px;
width: 100%;
margin: 10px;
display: flex;
justify-content: space-between;
color: var(--Rose-500);
font-weight: 500;
margin-bottom: 16px;
}

.order_total_confirmed{
font-size: 26px;
color: var(--Rose-900);
font-weight: 900;
}